<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>@ViewData["Title"]Panel</title>
    <link href="~/Panel_Template/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Panel_Template/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Panel_Template/css/animate.css" rel="stylesheet" />
    <link href="~/Panel_Template/css/style.css" rel="stylesheet" />
</head>
<body>
    <!-- Mainly scripts -->
    <script src="~/Panel_Template/js/jquery-3.1.1.min.js"></script>
    <script src="~/Panel_Template/js/popper.min.js"></script>
    <script src="~/Panel_Template/js/bootstrap.js"></script>
    <script src="~/Panel_Template/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/Panel_Template/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    @RenderBody()
</body>
</html>

