<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]Fakultemiz_bitirme_projeleri_tanitim</title>
    <link href="~/ana-sayfa-template/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/ana-sayfa-template/fontawesome/css/all.min.css" rel="stylesheet" />
    <link href="~/ana-sayfa-template/css/templatemo-style.css" rel="stylesheet" />
</head>
<body>
    <script src="~/js/Anajs/js/plugins.js"></script>
    <script>
        $(window).on("load", function () {
            $("body").addClass("loaded");
        });
    </script>
    <script src="~/js/site.js"></script>

@RenderSection("Scripts", required: false)
@RenderBody()

</body>
</html>
