<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>@ViewData["Title"]Fakultemiz_bitirme_projeleri_tanitim</title>
    <link rel="icon" type="image/x-icon" href="~/img/logo.ico" />

    <link href="~/css/Anacss/cssler/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/Anacss/cssler/templatemo-style.css" rel="stylesheet" />
    <link href="~/css/Anacss/cssler/fontawesome/css/all.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />

    <script src="~/js/site.js"></script>
    <script src="~/js/Anajs/jsler/plugins.js"></script>
    <script>$(window).on("load", function () {$("body").addClass("loaded");});</script>

    <script src="~/js/paneljs/jsler/bootstrap.min.js"></script>
    <script src="~/js/paneljs/jsler/bootstrap.js"></script>
    <script src="~/js/paneljs/jsler/inspinia.js"></script>
    <script src="~/js/paneljs/jsler/jquery-2.1.1.js"></script>
    <script src="~/js/paneljs/jsler/jquery-3.1.1.min.js"></script>
    <script src="~/js/paneljs/jsler/popper.min.js"></script>
</head>
<body>
@RenderBody()
@RenderSection("Scripts", required: false)
</body>
</html>
