<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>@ViewData["Title"]Panel</title>
    <link href="~/Panel-Ana Fontawasome/Panel/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/css/Panelcss/css/animate.css" rel="stylesheet" />
    <link href="~/css/Panelcss/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/Panelcss/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/Panelcss/css/style.css" rel="stylesheet" />
   
</head>
<body>
    <!-- Mainly scripts -->
    <script src="~/js/Paneljs/popper.min.js"></script>
    <script src="~/js/Paneljs/inspinia.js"></script>
    <script src="~/js/Paneljs/jquery-2.1.1.js"></script>
    <script src="~/js/Paneljs/jquery-3.1.1.min.js"></script>
    <script src="~/js/Paneljs/bootstrap.min.js"></script>
    <script src="~/js/Paneljs/bootstrap.js"></script>
    <script src="~/js/Paneljs/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/js/Paneljs/plugins/slimscroll/jquery.slimscroll.js"></script>
    <script src="~/js/Paneljs/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    @RenderBody()
</body>
</html>

