<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Panel</title>
    <link rel="icon" type="image/x-icon" href="~/img/logo.ico" />

    <link href="~/css/panelcss/cssler/animate.css" rel="stylesheet" />
    <link href="~/css/panelcss/cssler/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/panelcss/cssler/bootstrap.css" rel="stylesheet" />
    <link href="~/css/panelcss/cssler/style.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />


    <link href="~/css/panelcss/cssler/font-awesome/css/fa-brands.css" rel="stylesheet" />
    <link href="~/css/panelcss/cssler/font-awesome/css/fa-brands.min.css" rel="stylesheet" />
    <link href="~/css/panelcss/cssler/font-awesome/css/fa-regular.css" rel="stylesheet" />
    <link href="~/css/panelcss/cssler/font-awesome/css/fa-regular.min.css" rel="stylesheet" />
    <link href="~/css/panelcss/cssler/font-awesome/css/fa-solid.css" rel="stylesheet" />
    <link href="~/css/panelcss/cssler/font-awesome/css/fa-solid.min.css" rel="stylesheet" />
    <link href="~/css/panelcss/cssler/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/css/panelcss/cssler/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/panelcss/cssler/font-awesome/css/fontawesome-all.css" rel="stylesheet" />
    <link href="~/css/panelcss/cssler/font-awesome/css/fontawesome-all.min.css" rel="stylesheet" />
    <link href="~/css/panelcss/cssler/font-awesome/css/fontawesome.css" rel="stylesheet" />
    <link href="~/css/panelcss/cssler/font-awesome/css/fontawesome.min.css" rel="stylesheet" />
    <link href="~/css/panelcss/cssler/sweetalert.css" rel="stylesheet" />

    <script src="~/js/paneljs/jsler/bootstrap.min.js"></script>
    <script src="~/js/paneljs/jsler/bootstrap.js"></script>
    <script src="~/js/paneljs/jsler/inspinia.js"></script>
    <script src="~/js/paneljs/jsler/jquery-2.1.1.js"></script>
    <script src="~/js/paneljs/jsler/jquery-3.1.1.min.js"></script>
    <script src="~/js/paneljs/jsler/popper.min.js"></script>
    <script src="~/js/paneljs/jsler/plugins/metismenu/jquery.metismenu.js"></script>
    <script src="~/js/paneljs/jsler/plugins/slimscroll/jquery.slimscroll.js"></script>
    <script src="~/js/paneljs/jsler/plugins/slimscroll/jquery.slimscroll.min.js"></script>
</head>
<body>
    @RenderBody()
    @RenderSection("Scripts", required: false)
</body>
</html>

