@using EntityLayer.Concrete
@model List<Project> 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Isparta Uygulamalı Bilimler Üniversitesi</title>
    <link href="~/anasayfa_template/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/anasayfa_template/css/templatemo-style.css" rel="stylesheet" />
    <link href="~/anasayfa_template/fontawesome/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <!-- Page Loader -->
    <div id="loader-wrapper">
        <div id="loader"></div>

        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand"
               href="https://teknoloji.isparta.edu.tr"
               target="_blank">
                <img src="~/AnaSayfa_Template/img/logo.png " alt="logo" width="80px" />
                Isparta Uygulamalı Bilimler Üniversitesi Teknoloji Fakültesi
            </a>
            <button class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link nav-link-1 btn btn-primary"
                           aria-current="page"
                           href="~/AnaSayfa_Template/student_login.html">Öğrenci Girişi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-1 btn btn-primary"
                           href="~/AnaSayfa_Template/teacher_login.html ">Admin ve Akademisyen Girişi</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="tm-hero d-flex align-items-center">
        <nav class="navbar navbar-expand-lg bg-body-tertiary  ">
            <div class="container-fluid navbar-title navbar-place">
                <a class="navbar-brand nav-item" href="#">Kategoriler</a>

                <div class="collapse navbar-collapse" id="navbarScroll">
                    <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll"
                        style="--bs-scroll-height: 100px">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle"
                               href="#"
                               id="navbarDropdown"
                               role="button"
                               data-toggle="dropdown"
                               aria-haspopup="true"
                               aria-expanded="false">
                                Yıllar
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">2023</a>
                                <a class="dropdown-item" href="#">2024</a>
                                <a class="dropdown-item" href="#">2025</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle"
                               href="#"
                               id="navbarDropdown"
                               role="button"
                               data-toggle="dropdown"
                               aria-haspopup="true"
                               aria-expanded="false">
                                Bölümler
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Bilgisayar Mühendisliği</a>
                                <a class="dropdown-item" href="#">Makine Mühendisliği</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle"
                               href="#"
                               id="navbarDropdown"
                               role="button"
                               data-toggle="dropdown"
                               aria-haspopup="true"
                               aria-expanded="false">
                                Danışmanlar
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Tuncay Aydoğan</a>
                                <a class="dropdown-item" href="#">Sinan Uğuz</a>
                                <a class="dropdown-item" href="#">Kıyas Kayaalp</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle"
                               href="#"
                               id="navbarDropdown"
                               role="button"
                               data-toggle="dropdown"
                               aria-haspopup="true"
                               aria-expanded="false">
                                Konular
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">A</a>
                                <a class="dropdown-item" href="#">B</a>
                                <a class="dropdown-item" href="#">C</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="tm-search">
            <form class="d-flex tm-search-form" role="search">
                <input class="form-control tm-search-input"
                       type="search"
                       placeholder="Arama"
                       aria-label="Search" />
                <button class="btn btn-outline-success tm-search-btn" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </form>
        </div>


    </div>

    <div class="container-fluid tm-container-content tm-mt-60">
        <div class="row mb-4">
            <h2 class="col-6 tm-text-primary">Bitirme Projeleri</h2>
            <div class="col-6 d-flex justify-content-end align-items-center">
                <form action="" class="tm-text-primary">
                    Sayfa
                    <input type="text"
                           value="1"
                           size="1"
                           class="tm-input-paging tm-text-primary" />
                </form>
            </div>
        </div>
        <div class="row tm-mb-90 tm-gallery">
            @foreach(var item in Model){
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                <figure class="effect-ming tm-video-item">
                    <img src="~/AnaSayfa_Template/img/img-01.jpg " alt="Image" class="img-fluid" />
                    <figcaption class="d-flex align-items-center justify-content-center">
                            <a href="~/AnaSayfa_Template/project-detail.html ">Devamını oku</a>
                    </figcaption>
                </figure>
                <div class="d-flex justify-content-between tm-text-gray">
                    <h6 class="tm-text-gray-light">@item.Name</h6>
                    <h6>@item.CreationTime</h6>
                </div>
                <p class="tm-pt-30">
                    @item.Description
                    <a href="~/AnaSayfa_Template/project-detail.html" class="btn-devam tm-text-gray-light"> Devamını oku</a>
                </p>
                <i class="fas fa-heart icon-heart">10</i>
            </div>
            }
        </div>
        <!-- row -->
        <div class="row tm-mb-90">
            <div class="col-12 d-flex justify-content-between align-items-center tm-paging-col">
                <a href="javascript:void(0);"
                   class="btn btn-primary tm-btn-prev mb-2 disabled">Önceki Sayfa</a>
                <div class="tm-paging d-flex">
                    <a href="~/javascript:void(0);" class="active tm-paging-link">1</a>
                    <a href="~/javascript:void(0);" class="tm-paging-link">2</a>
                    <a href="~/javascript:void(0);" class="tm-paging-link">3</a>
                    <a href="~/javascript:void(0);" class="tm-paging-link">4</a>
                </div>
                <a href="javascript:void(0);" class="btn btn-primary tm-btn-next">Sonraki Sayfa</a>
            </div>
        </div>
    </div>
    <!-- container-fluid, tm-container-content -->

    <footer class="tm-bg-gray pt-5 pb-3 tm-text-gray tm-footer">
        <div class="container-fluid tm-container-small">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-12 px-5 mb-5">
                    <h3 class="tm-text-primary mb-4 tm-footer-title">Üniversitemiz</h3>
                    <p>
                        Hedeflerimiz arasında genelinde Türkiye’ye, özelinde Isparta’ya
                        katma değer oluşturmayı amaç edindik. Öğrencilerimize artı
                        değerler kazandırarak iş arayan değil, iş için aranan elemanlar
                        yetiştirmeyi, sanayi ile barışık ortak işler yürütebilmeyi, sanayi
                        ve tarım başta olmak üzere tüm sektörlerle iç içe olmayı sağlama
                        yönünde çalışmalar yapmaktayız.
                    </p>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12 px-5 mb-5">
                    <h3 class="tm-text-primary mb-4 tm-footer-title">Adres</h3>
                    <p>
                        Isparta Uygulamalı Bilimler Üniversitesi, 32200 Bahçelievler Mh.
                        102. Cd. No:24 ISPARTA
                    </p>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6 col-12 px-5 mb-5">
                    <h3 class="tm-text-primary mb-4 tm-footer-title">Sosyal Medya</h3>
                    <ul class="tm-social-links d-flex justify-content-end pl-0 mb-5">
                        <li class="mb-2">
                            <a href="https://www.facebook.com/isubu32" target="_blank">
                                <i class="fab fa-facebook"></i>
                            </a>
                        </li>
                        <li class="mb-2">
                            <a href=" https://twitter.com/isubu32" target="_blank">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="mb-2">
                            <a href="https://www.instagram.com/isubu32/" target="_blank">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li class="mb-2">
                            <a href="https://eposta.isparta.edu.tr" target="_blank">
                                <i class="fa fa-envelope"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/anasayfa_template/js/plugins.js"></script>
    <script>
        $(window).on("load", function () {
            $("body").addClass("loaded");
        });
    </script>
</body>
</html>
