<footer class="tm-bg-gray pt-5 pb-3 tm-text-gray tm-footer">
    <div class="container-fluid tm-container-small">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-12 px-5 mb-5">
                <h3 class="tm-text-primary mb-4 tm-footer-title">Üniversitemiz</h3>
                <p>
                    Hedeflerimiz arasında genelinde Türkiye’ye, özelinde Isparta’ya
                    katma değer oluşturmayı amaç edindik. Öğrencilerimize artı
                    değerler kazandırarak iş arayan değil, iş için aranan elemanlar
                    yetiştirmeyi, sanayi ile barışık ortak işler yürütebilmeyi, sanayi
                    ve tarım başta olmak üzere tüm sektörlerle iç içe olmayı sağlama
                    yönünde çalışmalar yapmaktayız.
                </p>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12 px-5 mb-5">
                <h3 class="tm-text-primary mb-4 tm-footer-title">Adres</h3>
                <p>
                    Isparta Uygulamalı Bilimler Üniversitesi, 32200 Bahçelievler Mh.
                    102. Cd. No:24 ISPARTA
                </p>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-12 px-5 mb-5">
                <h3 class="tm-text-primary mb-4 tm-footer-title">Sosyal Medya</h3>
                <ul class="tm-social-links d-flex justify-content-end pl-0 mb-5">
                    <li class="mb-2">
                        <a href="https://www.facebook.com/isubu32" target="_blank">
                            <i class="fab fa-facebook"></i>
                        </a>
                    </li>
                    <li class="mb-2">
                        <a href=" https://twitter.com/isubu32" target="_blank">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li class="mb-2">
                        <a href="https://www.instagram.com/isubu32/" target="_blank">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li class="mb-2">
                        <a href="https://eposta.isparta.edu.tr" target="_blank">
                            <i class="fa fa-envelope"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
